body, html {
    height: 100%;
}

html{

}
@font-face{
    font-family: BYekan;
    src: url('../font/BYekan.ttf') format('opentype'),
    url('../font/BYekan.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    transition: background .5s;
    font-family: BYekan;
}

body{
    background: url(../images/back.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-size: 18px;
    margin-bottom: auto;
}

div.container-fluid #home,
div.container-fluid #aboutUs,
div.container-fluid #contactUs,
div.container-fluid .footer-box{
    display: flex;
    justify-content: center;
}
.nav-list-box {
    position: fixed;
    width: 100%;
    top: 0;
}
.navbar-sm-list-box .nav-item div.dropdown-menu{
    text-align: right;
}

@media screen and (max-width: 768px){
    .nav-list-box{
        flex-direction: row-reverse;
    }
    .navbar-sm-list-box{
        text-align: right;
        padding-right: 0;
    }
}



/*silde show classes- home*/
@media screen and (max-width: 990px){
    #home .center-box{
        margin-bottom: 40%;
    }
}
li {
    list-style: none;
}
/*about us classes- about us*/
@media screen and (max-width: 768px){
    #aboutUs .border-img{
        margin-bottom: 30%;
    }
}
div.aboutUs
{
    line-height: 25px;
}
.title{
    font-size: 20px;
    font-weight: bold;
    padding: 10px 0;
    text-align: center;
}
.skills p{
    display:block;
    font-size:14px;
    color: #000;
}
.skills {
    display:block;
    font-size:medium;
    color: #000;
    direction:rtl;
    padding: 20px;
}
.skills li{
    text-align:justify;
    display: block;
    color: #fff;
}

/*contact us classes- contact us*/
@media screen and (max-width: 768px){
    .center-box{
        /* position: absolute;
        top: 20%; */
    }
    .navbar{
        z-index: 9999;
    }
    #contactUs, #aboutUs{
        z-index: -1;
    }
}
.center-box{
    margin: 9% auto 0;
}
.mail-address{
    text-align: center;
    line-height: 51px;
    padding: 5px;
    word-wrap: break-word;
}
.icn-contactUs{
    height: 45px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin-right: 30px;
}
.border-img {
    border: 10px solid transparent;
    padding: 15px;
    border-bottom-color: #013D61;
    border-bottom-left-radius: 100px;
    border-top-color: #013D61;
    border-top-right-radius: 100px;
}
.icn-phone{
    background-image: url(../icon/phone.png);
}
.icn-email{
    background-image: url(../icon/email.png);
}
.contactus-text{
    text-align: center;
    font-size: 24px;
    word-break: break-word;
    direction: ltr;
}
tr > td {
    padding-bottom: 0em;
    padding-top: 0em;
}

/*footer box*/
.footer-box{
    background: #5285a3 none repeat scroll 0 0;
    position: fixed;
    bottom: 0px;
    left: 0;
    width: 100%;
    height: 55px;
    flex-direction: column;
}
.footer-box p{
    font-size: 16px;
    text-align: center;
    line-height: 26px;
    margin-bottom: 0px;
}

